{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "stage-0"
      ]
    },
    "test": {
      "presets": [
        "stage-0"
      ]
    }
  }
}